header-varient()
  .flex-header
    &.flex-header-primary
      background-color $brand-primary
      background $brand-primary
      .brand
        color $text-light

.theme-indigo-amber
  header-varient()

