.flex-content
  flex-container()
  flex-direction(column)
  flex-wrap(nowrap)
  flex-element(1)
  padding-top 10px
  position relative

  &.content-scroll
    scroll-vertical()
  &.hasHeader
    padding 0
  &.hasPads
    padding 20px
