<flex-content scroll=true>
<!--
  <flex-use  file="views/forms.html"></flex-use> -->
    <flex>
      <flex-card title="Changing Icon Buttons">
        <flex class="card-body">
          <flex-btn class="text-white btn-sm"
                round=true
                raised=true
                rotate="90"
                bg="red"
                icon="gcon-plus"
                next="gcon-pencil">
                <!-- <i class="gcon-plus" next-icon="gcon-pencil"></i> -->
                </flex-btn>
          <flex-btn class="text-white btn-sm"
                round=true
                raised=true
                rotate="90"
                icon="gcon-pencil"
                bg="red"
                next="gcon-plus">
          <flex-btn class="text-white btn-sm"
                round=true
                raised=true
                rotate="90"
                icon="gcon-pencil"
                bg="red"
                next="gcon-plus">
                </flex-btn>
          <flex-btn class="text-white btn-sm"
                round=true
                raised=true
                rotate="90"
                icon="gcon-pencil"
                bg="red"
                next="gcon-plus">
                </flex-btn>

          <!-- <button class="flex-btn btn-xs btn-raised btn-round bg-pink-200">XS</button>
          <button class="flex-btn btn-sm btn-raised btn-round bg-pink-300">SM</button>
          <button class="flex-btn btn-raised btn-round bg-pink-400">D</button>
          <button class="flex-btn btn-md btn-raised btn-round bg-pink">MD</button>
          <button class="flex-btn btn-lg btn-raised btn-round bg-pink-600">LG</button> -->
          <!-- <input  type="button" value="set" ng-click="myVar='my-class'">
          <input  type="button" value="clear" ng-click="myVar=''">
          <br>
          <span class="base-class" ng-class="myVar">Sample Text</span> -->
        </flex>
      </flex-card>
    </flex>
    <flex>
      <flex-card title="Button Varients">
        <flex-body>
            <button class="flex-btn">Button</button>
            <button class="flex-btn bg-blue-200">Button</button>
            <button class="flex-btn bg-blue-300">Button</button>
            <button class="flex-btn bg-blue-400">Button</button>
            <button class="flex-btn bg-blue">Button</button>
            <button class="flex-btn bg-blue-600">Button</button>
          </flex-body>
      </flex-card>
    </flex>

    <flex>
      <flex-card title="Raised Button">
        <flex class="card-body">
          <button class="flex-btn btn-raised">Button</button>
          <button class="flex-btn btn-raised bg-orange-200">Button</button>
          <button class="flex-btn btn-raised bg-orange-300">Button</button>
          <button class="flex-btn btn-raised bg-orange-400">Button</button>
          <button class="flex-btn btn-raised bg-orange">Button</button>
          <button class="flex-btn btn-raised bg-orange-600">Button</button>
        </flex class="card-body">
      </flex-card>
    </flex>

    <flex>
      <flex-card title="Button Sizes">
        <flex class="card-body">
          <button class="flex-btn btn-xs bg-green-100">Extra Small</button>
          <button class="flex-btn btn-sm bg-green-200">small</button>
          <button class="flex-btn bg-green-300">Default</button>
          <button class="flex-btn btn-md bg-green-400">Medium</button>
          <button class="flex-btn btn-lg bg-green">Large</button>
        </flex class="card-body">
      </flex-card>
    </flex>

    <flex>
      <flex-card title="Round Buttons">
        <flex class="card-body">
          <button class="flex-btn btn-xs btn-round bg-pink-200">XS</button>
          <button class="flex-btn btn-sm btn-round bg-pink-300">SM</button>
          <button class="flex-btn btn-round bg-pink-400">D</button>
          <button class="flex-btn btn-md btn-round bg-pink">MD</button>
          <button class="flex-btn btn-lg btn-round bg-pink-600">LG</button>
        </flex class="card-body">
      </flex-card>
    </flex>

    <flex>
      <flex-card title="Raised Round Buttons">
        <flex class="card-body">
          <button class="flex-btn btn-xs btn-raised btn-round bg-pink-200">XS</button>
          <button class="flex-btn btn-sm btn-raised btn-round bg-pink-300">SM</button>
          <button class="flex-btn btn-raised btn-round bg-pink-400">D</button>
          <button class="flex-btn btn-md btn-raised btn-round bg-pink">MD</button>
          <button class="flex-btn btn-lg btn-raised btn-round bg-pink-600">LG</button>
        </flex class="card-body">
      </flex-card>
    </flex>




</flex-content>
