<flex-content>
  <flex>
    <flex-card title="Basic Inputs">

      <div class="form-group">
        <label class="flex-label" for="username">Username</label>
        <input type="text" class="flex-control" id="username" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label class="flex-label" for="email">Email</label>
        <input type="email" class="flex-control" id="email" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label class="flex-label" for="password">Password</label>
        <input type="password" class="flex-control" id="password" name="password" placeholder="Password">
      </div>

    </flex-card>
  </flex>

  <flex>
    <flex-card title="Inline Inputs">

      <div class="form-group inline">
        <label class="flex-label" for="username">Username</label>
        <input type="text" class="flex-control" id="username" name="username" placeholder="Username">
      </div>
      <div class="form-group inline">
        <label class="flex-label" for="email">Email</label>
        <input type="email" class="flex-control" id="email" name="email" placeholder="Email">
      </div>
      <div class="form-group inline">
        <label class="flex-label" for="password">Password</label>
        <input type="password" class="flex-control" id="password" name="password" placeholder="Password">
      </div>

    </flex-card>
  </flex>
   <flex>
    <flex-card title="CheckBox">

      <!-- <div class="form-group">
        <div class="checkbox">
          <label class="flex-label">
            <input type="checkbox"> Checkbox
            <span class="ripple"></span>
            <span class="check"></span>
          </label>
        </div>
      </div> -->
      <div class="form-group">
        <div class="togglebutton">
          <label>
            <input type="checkbox" checked=""><span class="toggle"></span> Toggle button
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="togglebutton">
          <label>
            <input type="checkbox" checked=""><span class="toggle"></span> Toggle button
          </label>
        </div>
      </div>

    </flex-card>
  </flex>


</flex-content>