<flex-content has-pads=true>
  <flex>
    <flex-column bg="white">
      <flex-toolbar bg="pink">
        <toolbar-brand>
          <flex class="brand-tool">
            <flex-tool ng-click="$toggleLeftFold()" icon="mdi-navigation-menu"></flex-tool>
          </flex>
          <flex class="brand-heading">
            ui-flex
          </flex>
        </toolbar-brand>

        <toolbar-tools side="left">
          <div class="input-group icon-right">
            <div class="input-group-icon icon-left"><i class="mdi-action-search"></i></div>
            <input type="text" class="flex-control" placeholder="search">
          </div>
        </toolbar-tools>

        <toolbar-tools side="right">
          <!-- <button class="btn" ng-click="$toggleLeftFold()">Close Left</button> -->
          <flex-tool icon="mdi-file-cloud-download"></flex-tool>
          <flex-tool icon="mdi-social-notifications"></flex-tool>
          <flex-tool icon="mdi-social-person"></flex-tool>
          <flex-tool icon="mdi-navigation-more-vert"></flex-tool>
        </toolbar-tools>

      </flex-toolbar>
    </flex-column>
  </flex>
  <flex>
    <flex-column bg="white">
      <flex-toolbar bg="cyan">
        <toolbar-brand>
          <flex class="brand-tool">
            <flex-tool ng-click="$toggleLeftFold()" icon="mdi-navigation-menu"></flex-tool>
          </flex>
          <flex class="brand-heading">
            ui-flex
          </flex>
        </toolbar-brand>

        <toolbar-tools side="left">
          <div class="input-group icon-right">
            <div class="input-group-icon icon-left"><i class="mdi-action-search"></i></div>
            <input type="text" class="flex-control" placeholder="search">
          </div>
        </toolbar-tools>

        <toolbar-tools side="right">
          <!-- <button class="btn" ng-click="$toggleLeftFold()">Close Left</button> -->
          <flex-tool icon="mdi-file-cloud-download"></flex-tool>
          <flex-tool icon="mdi-social-notifications"></flex-tool>
          <flex-tool icon="mdi-social-person"></flex-tool>
          <flex-tool icon="mdi-navigation-more-vert"></flex-tool>
        </toolbar-tools>

      </flex-toolbar>
    </flex-column>
  </flex>
  <flex>
    <flex-column bg="white">
      <flex-toolbar bg="indigo">
        <toolbar-brand>
          <flex class="brand-tool">
            <flex-tool ng-click="$toggleLeftFold()" icon="mdi-navigation-menu"></flex-tool>
          </flex>
          <flex class="brand-heading">
            ui-flex
          </flex>
        </toolbar-brand>

        <toolbar-tools side="left">
          <div class="input-group icon-right">
            <div class="input-group-icon icon-left"><i class="mdi-action-search"></i></div>
            <input type="text" class="flex-control" placeholder="search">
          </div>
        </toolbar-tools>

        <toolbar-tools side="right">
          <!-- <button class="btn" ng-click="$toggleLeftFold()">Close Left</button> -->
          <flex-tool icon="mdi-file-cloud-download"></flex-tool>
          <flex-tool icon="mdi-social-notifications"></flex-tool>
          <flex-tool icon="mdi-social-person"></flex-tool>
          <flex-tool icon="mdi-navigation-more-vert"></flex-tool>
        </toolbar-tools>

      </flex-toolbar>
    </flex-column>
  </flex>
  <flex>
    <flex-column bg="white">
      <flex-toolbar bg="amber">
        <toolbar-brand>
          <flex class="brand-tool">
            <flex-tool ng-click="$toggleLeftFold()" icon="mdi-navigation-menu"></flex-tool>
          </flex>
          <flex class="brand-heading">
            ui-flex
          </flex>
        </toolbar-brand>

        <toolbar-tools side="left">
          <div class="input-group icon-right">
            <div class="input-group-icon icon-left"><i class="mdi-action-search"></i></div>
            <input type="text" class="flex-control" placeholder="search">
          </div>
        </toolbar-tools>

        <toolbar-tools side="right">
          <!-- <button class="btn" ng-click="$toggleLeftFold()">Close Left</button> -->
          <flex-tool icon="mdi-file-cloud-download"></flex-tool>
          <flex-tool icon="mdi-social-notifications"></flex-tool>
          <flex-tool icon="mdi-social-person"></flex-tool>
          <flex-tool icon="mdi-navigation-more-vert"></flex-tool>
        </toolbar-tools>

      </flex-toolbar>
    </flex-column>
  </flex>
  <flex>
    <flex-column bg="white">
      <flex-toolbar bg="deeporange">
        <toolbar-brand>
          <flex class="brand-tool">
            <flex-tool ng-click="$toggleLeftFold()" icon="mdi-navigation-menu"></flex-tool>
          </flex>
          <flex class="brand-heading">
            ui-flex
          </flex>
        </toolbar-brand>

        <toolbar-tools side="left">
          <div class="input-group icon-right">
            <div class="input-group-icon icon-left"><i class="mdi-action-search"></i></div>
            <input type="text" class="flex-control" placeholder="search">
          </div>
        </toolbar-tools>

        <toolbar-tools side="right">
          <!-- <button class="btn" ng-click="$toggleLeftFold()">Close Left</button> -->
          <flex-tool icon="mdi-file-cloud-download"></flex-tool>
          <flex-tool icon="mdi-social-notifications"></flex-tool>
          <flex-tool icon="mdi-social-person"></flex-tool>
          <flex-tool icon="mdi-navigation-more-vert"></flex-tool>
        </toolbar-tools>

      </flex-toolbar>
    </flex-column>
  </flex>
</flex-content>