
select-dashboard-aside(action, side)
  .x-dashboard
    &.{action}-{side}
      & > .x-dashboard-container
        & > .x-dashboard-aside.x-aside-{side}
          block

sidebar-variant(sidebar-width, sidebar-header-height)
  max-width sidebar-width
  min-width sidebar-width

  & > .x-aside-header
      max-height sidebar-header-height
      min-height sidebar-header-height


create-dashboard-aside-xs()
  sidebar-variant(ox-toolbar-width-xs, ox-toolbar-top-xs)

create-dashboard-aside-sm()
  sidebar-variant(ox-toolbar-width-sm, ox-toolbar-top-sm)
  & > .x-aside-header
    .toggle-toolbar-left,
    .toggle-toolbar-right
      display: none

create-dashboard-aside-md()
  sidebar-variant(ox-toolbar-width-md, ox-toolbar-top-md)

create-dashboard-aside-lg()
  sidebar-variant(ox-toolbar-width-lg, ox-toolbar-top-lg)

create-dashboard-aside-xl()
  sidebar-variant(ox-toolbar-width-xl, ox-toolbar-top-xl)


// ============== DASHBORD -- ASIDE -- LG
create-dashboard-aside()
  max-width 250px
  min-width 250px

  animation animate-content-back 300ms
  transition all 200ms ease
  -webkit-transition all 200ms ease


  & > *
    flex-element(1 0 auto)
    flex-align-self(stretch)
    width 100%
    min-width 100%

  // ============== DASHBORD -- ASIDE -- HEADER
  & > .x-aside-header
    flex-align-self(flex-start)
    flex-default-row()

    min-height 50px
    max-height 50px
    background lightblue

  // ============== DASHBORD -- ASIDE -- CONTENT
  & > .x-aside-content
    flex-default-row(center)

    background-color green

  // ============== DASHBORD -- ASIDE -- FOOTER
  & > .x-aside-footer
    flex-align-self(flex-end)
    flex-default-row()

    min-height 50px
    max-height 50px
    background-color red



@media(max-width screen-size-sm)

  .x-dashboard
    & > .x-dashboard-container
      & > .x-dashboard-aside.x-aside-left,
      & > .x-dashboard-aside.x-aside-right
        position fixed
        height 100%
        max-width ox-toolbar-open-width-mobile
        min-width ox-toolbar-open-width-mobile
        top 0
      & > .x-dashboard-aside.x-aside-left
        left -80%
      & > .x-dashboard-aside.x-aside-right
        right -80%

    &.show-left
      & > .x-dashboard-container
        & > .x-dashboard-aside.x-aside-left
          left 0

    &.show-right
      & > .x-dashboard-container
        & > .x-dashboard-aside.x-aside-right
          right 0
