
@import 'vars'
@import 'mixins'
@import 'base'
@import 'colors'
@import 'grail'
@import 'components/main'
@import 'components/body'
@import 'components/header'
@import 'components/aside'
@import 'components/footer'
@import 'utils'

body
  display flex
  min-height 100vh
  flex-direction column
  flex-wrap nowrap

.ui-flex
  box-sizing border-box
  position relative
  min-height inherit
  flex 1
  display flex
  flex-direction column

make-flex-column()
  box-sizing border-box
  position relative
  flex 1
  display flex
  flex-wrap nowrap
  flex-direction column
  flex-wrap column wrap

make-flex-row()
  box-sizing border-box
  display flex
  flex 1
  flex-direction row
  flex-wrap wrap
  add-gutters()


flex-item()
  display flex
  flex-direction column
  box-sizing border-box

.flex-column
  make-flex-column()

.flex-row
  make-flex-row()

.flex
  flex-item()
  flex 1 0 auto

.flex-halfs
  make-flex-row()
  & > *
    flex-item()
    flex 0 0 50%
    max-width 50%

.flex-full
  make-flex-row()
  & > *
    flex-item()
    flex 1 0 auto
    max-width 100%

.flex-thirds
  make-flex-row()
  & > *
    flex-item()
    flex 0 0 33.33333%
    max-width 33.33333%

.flex-fourths
  make-flex-row()
  & > *
    flex-item()
    flex 0 0 25%
    max-width 35%


get-size(index)
  flex 0 0 unit( (100%/12*index) , '%')
  max-width unit( (100%/12*index) , '%')

get-size-and-offset(index, val)
  margin-left unit( (100%/12*val) , '%')
  flex 0 0 unit( (100%/12*index) , '%')
  max-width unit( (100%/12*index) , '%')



build-grid-offsets(size, index, offset, breakpoint)
  .flex-column > .flex-{offset}--{index},
  .flex-column > .flex-{size}-{offset}--{index}
    flex index 0 auto

  .flex-{offset}--{index}
    flex-item()
    get-size(12)
    @media(min-width $breakpoint-sm)
      get-size-and-offset(index, offset)

  if size is not xs
    .flex-{size}-{offset}--{index}
      get-size(12)
  else
    .flex-{size}-{offset}--{index}
      get-size-and-offset(index, offset)

  .flex-{size}-{offset}--{index}
    flex-item()
    box-sizing border-box
    @media(min-width breakpoint)
      get-size-and-offset(index, offset)


build-grid(size, index, breakpoint)
  .flex-column > .flex-{index},
  .flex-column > .flex-{size}-{index}
    flex index 0 (100% / 12 * index)

  .flex-{index}
    flex-item()
    get-size(12)

    @media(min-width $breakpoint-sm)
      get-size(index)

  if size is not xs
    .flex-{size}-{index}
      get-size(12)
  else
    .flex-{size}-{index}
      get-size(index)

  .flex-{size}-{index}
    flex-item()
    box-sizing border-box
    @media(min-width breakpoint)
      get-size(index)

for index in 1..12
  build-grid(xs, index, $breakpoint-xs)
  build-grid(sm, index, $breakpoint-sm)
  build-grid(md, index, $breakpoint-md)
  build-grid(lg, index, $breakpoint-lg)
  build-grid(xl, index, $breakpoint-huge)

  for offset in 1..12
    build-grid-offsets(xs, index, offset, $breakpoint-xs)
    build-grid-offsets(sm, index, offset, $breakpoint-sm)
    build-grid-offsets(md, index, offset, $breakpoint-md)
    build-grid-offsets(lg, index, offset, $breakpoint-lg)
    build-grid-offsets(xl, index, offset, $breakpoint-huge)



