for order in $flex-orders
  .order-{order}
    order order
  .order-n-{order}
    order (0 - order)


.wrap-row
  flex-wrap row wrap
.wrap-column
  flex-wrap column wrap

.wrap-no
  flex-wrap nowrap

.wrap-column-reverse
  flex-wrap column wrap

.wrap-row-reverse
  flex-wrap row wrap

.justify-end
  justify-content flex-end
.justify-center
  justify-content center
.justify-start
  justify-content flex-start

.align-content-end
  align-content flex-end

.align-items-end
  align-items flex-end

.align-end
  align-self flex-end
.align-center
  align-self center
.align-start
  align-self flex-start
.align-stretch
  align-self stretch

