screen-size-xs = 480px
screen-size-sm = 620px
screen-size-md = 800px
screen-size-lg = 1200px
screen-size-xl = 1366px

ox-toolbar-width-xs = 0px
ox-toolbar-width-sm = 50px
ox-toolbar-width-md = 50px
ox-toolbar-width-lg = 60px

ox-toolbar-top-xs = 100px
ox-toolbar-top-sm = 50px
ox-toolbar-top-md = 50px
ox-toolbar-top-lg = 60px

ox-toolbar-open-width-mobile = 80%
ox-toolbar-open-width = 250px


@import 'ox-dashboard'
@import 'ox-dashboard-aside'
@import 'ox-dashboard-header'
@import 'ox-dashboard-content'
@import 'ox-dashboard-container'
@import 'ox-toolbar'
@import 'ox-header'
@import 'ox-aside'
@import 'ox-container'
@import 'ox-content'
@import 'ox-footer'
@import 'ox-grid'
@import 'ox-layout'