// @import 'app/_colors'

// apply-defaults-top-bottom()
//   height 50px

// apply-defaults-top()
//   height 100px
//   top 0

// apply-defaults-bottom()
//   position fixed
//   width 100%
//   bottom 0

// build-side-toolbars()
//   .ox-toolbar-{type}
//     // border 100px solid red


// build-top-bottom-toolbars()
//   .ox-toolbar-{type}
//     apply-defaults-top-bottom()
//     apply-defaults-{type}()



// build-toolbars(type)
//   if type is left or type is right
//     build-side-toolbars()
//   else
//     build-top-bottom-toolbars(type)



// ox-toolbars-config = {
//   top: top,
//   right: right,
//   bottom: bottom,
//   left: left
// }

// for item, type in ox-toolbars-config
//   build-toolbars(type)






a.tool,
.tool
  margin 0
  overflow hidden
  position relative
  height 50px

  font-size 16px
  padding-top 12px
  display block
  text-align center


  .ox-icon
    font-size 25px
    transition all 500ms ease
    -webkit-transition all 500ms ease

