@import 'app/_colors'

a.tool,
.tool
  margin 0
  overflow hidden
  position relative
  height 50px

  font-size 16px
  padding-top 12px
  display block
  text-align center


  .ox-icon
    font-size 25px
    transition all 500ms ease
    -webkit-transition all 500ms ease

