<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Oxford Demo</title>
  <!-- bower:css -->
  <link rel="stylesheet" href="../lib/c3/c3.css" />
  <link rel="stylesheet" href="../lib/toastr/toastr.css" />
  <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css" />
  <link rel="stylesheet" href="../lib/angular-gridster/dist/angular-gridster.min.css" />
  <!-- endbower -->


  <!-- <link rel="stylesheet" href="colors.css"> -->

  <!-- styles:css -->
  <link rel="stylesheet" href="/oxford.css">
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/heavy.css">
  <!-- endinject -->

</head>
<body ng-app="demo" class="theme-indigo-amber" ng-controller="Controller as vm">

  <div class="flex-container bg-grey-300">



  <ui-flex>

    <flex-toolbar bg="indigo">
      <toolbar-brand>
        <flex class="brand-tool">
          <flex-tool ng-click="$toggleLeftFold()" icon="mdi-navigation-menu"></flex-tool>
        </flex>
        <flex class="brand-heading">
          ui-flex
        </flex>
      </toolbar-brand>

      <toolbar-tools side="left">
        <div class="input-group icon-right">
          <div class="input-group-icon icon-left"><i class="mdi-action-search"></i></div>
          <input type="text" class="flex-control" placeholder="Search">
        </div>
      </toolbar-tools>

      <toolbar-tools side="right">
        <!-- <button class="btn" ng-click="$toggleLeftFold()">Close Left</button> -->
        <flex-tool icon="mdi-file-cloud-download"></flex-tool>
        <flex-tool icon="mdi-social-notifications"></flex-tool>
        <flex-tool icon="mdi-social-person"></flex-tool>
        <flex-tool icon="mdi-navigation-more-vert"></flex-tool>
      </toolbar-tools>

    </flex-toolbar>
    <flex-body gutters="none">

      <flex-view></flex-view>

      <flex-aside-left bg="white">
        <flex-header size="huge" class="flex-header-primary">
          <div class="brand">MyApp</div>
        </flex-header>
        <flex-column>
          <ul class="aside-list-group">
            <li class="{{$isActive('buttons')}}" ui-sref="buttons">
              <i class="mdi-action-view-agenda text-green"></i>
              <a >Buttons</a>
            </li>
            <li class="{{$isActive('forms')}}" ui-sref="forms">
              <i class="mdi-editor-mode-edit text-amber"></i>
              <a >Forms</a>
            </li>
            <li class="{{$isActive('panels')}}" ui-sref="panels">
              <i class="mdi-action-dashboard text-pink"></i>
              <a >Panels</a>
            </li>
            <li class="{{$isActive('toolbars')}}" ui-sref="toolbars">
              <i class="mdi-action-label text-deeporange"></i>
              <a>Toolbars</a>
            </li>
            <li class="{{$isActive('animations')}}" ui-sref="animations">
              <i class="mdi-device-data-usage text-blue"></i>
              <a>Animations</a>
            </li>
            <li class="{{$isActive('ui')}}" ui-sref="ui">
              <i class="mdi-device-data-usage text-blue"></i>
              <a>UI</a>
            </li>
          </ul>
          <div class="divider tiny"></div>
        </flex-body>
      </flex-aside-left>

    </flex-body>
    <!-- <flex-footer bg="red"></flex-footer> -->
  </ui-flex>

</div>


  <!-- bower:js -->
  <script src="../lib/jquery/dist/jquery.js"></script>
  <script src="../lib/gsap/src/uncompressed/TweenMax.js"></script>
  <script src="../lib/d3/d3.js"></script>
  <script src="../lib/c3/c3.js"></script>
  <script src="../lib/toastr/toastr.js"></script>
  <script src="../lib/angular/angular.js"></script>
  <script src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../lib/javascript-detect-element-resize/detect-element-resize.js"></script>
  <script src="../lib/angular-gridster/src/angular-gridster.js"></script>
  <script src="../lib/angular-animate/angular-animate.js"></script>
  <!-- endbower -->

  <script src="../lib/gsap/src/minified/plugins/CSSPlugin.min.js"></script>
  <script src="../lib/gsap/src/minified/plugins/CSSRulePlugin.min.js"></script>

  <!-- scripts:js -->
  <script src="/scripts/main.js"></script>
  <script src="/scripts/main/directives/drag.js"></script>
  <script src="/scripts/main/directives/index.js"></script>
  <script src="/scripts/main/directives/list.js"></script>
  <script src="/scripts/main/directives/ripple.js"></script>
  <script src="/scripts/main/directives/components/flex-action-group.js"></script>
  <script src="/scripts/main/directives/components/flex-animations.js"></script>
  <script src="/scripts/main/directives/components/flex-btn.js"></script>
  <script src="/scripts/main/directives/components/flex-tool.js"></script>
  <script src="/scripts/main/directives/components/toolbar-brand.js"></script>
  <script src="/scripts/main/directives/components/toolbar-tools.js"></script>
  <script src="/scripts/main/directives/ui/flex-aside.js"></script>
  <script src="/scripts/main/directives/ui/flex-body.js"></script>
  <script src="/scripts/main/directives/ui/flex-card.js"></script>
  <script src="/scripts/main/directives/ui/flex-column.js"></script>
  <script src="/scripts/main/directives/ui/flex-content.js"></script>
  <script src="/scripts/main/directives/ui/flex-footer.js"></script>
  <script src="/scripts/main/directives/ui/flex-header.js"></script>
  <script src="/scripts/main/directives/ui/flex-progress.js"></script>
  <script src="/scripts/main/directives/ui/flex-row.js"></script>
  <script src="/scripts/main/directives/ui/flex-sets.js"></script>
  <script src="/scripts/main/directives/ui/flex-toolbar.js"></script>
  <script src="/scripts/main/directives/ui/flex-use.js"></script>
  <script src="/scripts/main/directives/ui/flex-view.js"></script>
  <script src="/scripts/main/directives/ui/flex.js"></script>
  <script src="/scripts/main/directives/ui/ui-flex.js"></script>
  <!-- endinject -->

  <!-- demo:js -->
  <script src="app.js"></script>
  <script src="flex-progress.js"></script>
  <script src="controllers/animations.controller.js"></script>
  <script src="controllers/app.controller.js"></script>
  <script src="controllers/panels.controller.js"></script>
  <script src="controllers/progressBar.controller.js"></script>
  <script src="services/logger.service.js"></script>
  <!-- endinject -->

</body>
</html>
